/* program */
.modal {
  pointer-events: auto;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  justify-content:center;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  animation-duration: .1s;
  &.is_active {
  display: flex;
  }
}
.modal_inner {
  z-index: 3;
  max-width: 740px;
  width: 90%;
  max-height: 90vh;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 10px;
  padding: 50px 60px 40px;
  overflow: auto;
  outline: 0;
}
.modal_title {
font-weight: bold;
line-height: 39px;
font-size: 24px;
letter-spacing: 0.1em;
}
.modal_speaker {
  display: inline-block;
  margin-top: 10px;
  margin-right: 18px;
}
.modal_speaker_icon {
  width: 40px;
  height: 40px;
  box-shadow:0px 0px 1px 1px rgba(0,0,0,0.1) inset;
  background-size: cover;
  border-radius: 20px;
  float: left;
}
.modal_speaker_name {
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-left: 50px;
}
.modal_speaker_org {
  line-height: 18px;
  font-size: 9px;
  letter-spacing: 0.1em;
  margin-left: 50px;
}
.modal_speaker_id {
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-left: 50px;
  >a {
    color: #00A4DE;
  }

  > a > img {
    width: 16px;
    height: 16px;
    margin-top: .24em;
    margin-right: 4px;
  }
}
.modal_text {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 30px;
}
.modal_close {
  font-weight: bold;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #000000;
  line-height: 25px;
  margin: 40px auto 0;
  cursor: pointer;
}
.modal_shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal_scopeArea {
  margin-top: 37px;
}
.modal_scope {
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: flex;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  & + .modal_scope {
    border-top: none;
  }
  dt,dd {
    padding: 15px 0;
  }
  dt {
    width: 34%;
  }
}
.modal_scope_large {
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  & + .modal_scope {
    border-top: none;
  }
  dt,dd {
    padding: 15px 0;
  }
  dd {
    margin-left: 20px;
  }
}
.modal_input {
  margin-top: 30px;
  input {
    background: #EEEEEE;
    border-radius: 6px;
    padding: 8px 16px;
    border: none;
    outline: none;
    width: 480px;
    max-width: 70%;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
.modal_inputBtn {
    vertical-align: middle;
  background: #CF293B;
  border-radius: 22px;
  width: 120px;
  max-width: 25%;
  height: 44px;
  line-height: 44px;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin-left: 5%;
}
.main {
  background-position: bottom;
  &.is_fixed {
    position: fixed;
    top: 0;
    height: auto;
    padding: 0;
    width: 100%;
    &.is_showGnav {
      margin-top: 120px;
      transition-property: margin-top;
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }
    .main_title {
      display: none;
    }
    .main_index {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.main_index {
  margin-top: 47px;
  text-align: center;
  padding: 38px 0 28px;
  margin-bottom: -66px;
  height: 100px;
}
.program {
  text-align: center;
  margin: 0 auto;
  &.is_disabled {
    display: none;
  }
}
.bgGray {
  background-color: #F1F1F1;
}
.program_title {
  margin-top: 100px;
  padding: 10px 59px;
  font-weight: bold;
  line-height: 49px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFF;
  background: #333;
  display: inline-block;
}
.program_text {
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 40px;
  padding: 0 20px;
}

.tagIndex {
  max-width: $pcMinWidth - 5px;
  margin: 50px auto 0;
}
.tagIndex_item {
  margin-top: 15px;
  margin-right: 7px;
  margin-left: 7px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 8px 5px 8px 20px;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
  &.is_current {
    background-color: #EBA80A;
    border: 1px solid #EBA80A;
    color: #fff;
    .tagIndex_item_badge {
      background-color: #FFF;
      color: #EBA80A;
    }
  }
}
.tagIndex_item_badge {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #FFF;
  margin-left: 11px;
}
.sns {
  margin-top: 128px;
}
.btnArea {
  padding: 0 20px;
  margin: 28px auto  -72px;
}
.programCtrl {
  display: flex;
  justify-content: space-between;
}
.candidatesBtn {
  margin: 20px 0;
  img {
    vertical-align: middle;
    margin-bottom: 2px;
  }
}
.favBtn {
  position: relative;
  cursor: pointer;
  line-height: 44px;
  text-align: center;
  display: block;
  margin: 0 0 0 0;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  font-size: 14px;
  background-color: #FFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  color: #000;
  background-image: url('~assets/img/common/icon-star.svg');
  background-position: center left 20px;
  padding-left: 25px;
  &.is_active {
    border: 1px solid #EBA80A;
    background-color: #EBA80A;
    background-image: url('~assets/img/common/icon-star-white.svg');
    color: #FFF;
  }
}
.schedule_voting {
  justify-content:center;
  align-items: center;
  display: flex;
}
.votingBtn {
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 19px;
  display: block;
  width: 120px;
  height: 38px;
  line-height: 36px;
  font-size: 16px;color: #000000;
  &-voted {
    border-color: #CF293B;
    background-color: #CF293B;
    color: #fff;
  }
}

@media screen and (max-width: $viewport - 1) {
  @import "sp";
}
@media screen and (min-width: $viewport) {
  @import "pc";
}
@media screen and (max-width: $headerViewport - 1) {
  .main {
    &.is_fixed {
      margin-top: 50px;
      &.is_showGnav {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (min-width: $headerViewport) {
}
