/* extra-staff SP */
.staff_item {
  max-width: 50%;
  padding: 30px 10px 0;
  margin-bottom: 0;
}
.staff_list {
  margin: 0;
}
.lead {
  display: block;
  background: none;
  height: auto;
}
.lead_inner {
  width: 100%;
  padding-top: 15px;
}
.lead_img {
  width: 100%;
}
.lead_text {
  line-height: 1.5;
  font-size: 4.3vw;
}
.extrastaff_note {
  margin-top: 20px;
  text-align: left;
}