/* sponsor SP */
iframe {
    width: 100%;
}
.sponsor_item {
  display: block;
}
.sponsor_logo {
  padding-right: 0;

}
.sponsor_title {
  font-size: 24px;
  margin-top: 50px;

}
.sponsor_list {
  margin-top: 20px;
}
.sponsor_logo {
  img {
    border: 1px solid #eee;
  }
}
.sponsor_content {
  padding-bottom: 0;
}
.inquiry {
  margin-top: 0;
}
