/* sponsor */
.sponsor {
  text-align: center;
  max-width: 1050px;
  margin: 0 auto;
}
.sponsor_title {
  margin: 0 auto;
  display: inline-block;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  margin-top: 89px;
  color: #acb6e5;
  background: -webkit-linear-gradient(0deg, #f7d000, #f39200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sponsor_list {
  margin-top: 66px;
}
.sponsor_item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  & + .sponsor_item {
    margin-top: 30px;
  }
}
.sponsor_logo {
  padding-right: 40px;
  img {
    width: 240px;
    background: white;
  }
}
.sponsor_content {
  text-align: left;
  padding: 30px;
}
.sponsor_name {
  font-weight: bold;
  line-height: 33px;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}
.sponsor_url {
  margin-top: 8px;
  > a {
    font-weight: bold;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #00a4de;
  }
}
.sponsor_text {
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #000000;
  p {
    margin-top: 1.2em;
  }
  ul {
    margin-top: 1.2em;
  }
  li {
    margin-top: 2px;
  }
  a {
    font-weight: bold;
    color: #00a4de;
  }
}
.sponsor_btn {
  color: #fff;
  font-weight: bold;
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: inline-block;
  background: #00a4de;
  border-radius: 20px;
  padding: 8px 34px 8px 18px;
  margin-top: 35px;
  background-image: url("~assets/img/common/arrow-next-w.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  background-size: 13px auto;
}
.inquiry {
  margin-top: 60px;
  text-align: left;
  padding: 40px;
  background-color: #f1f1f1;
}
.inquiry_title {
  font-weight: bold;
  line-height: 33px;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #000000;
}
.inquiry_text {
  margin-top: 20px;
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #000000;
}

/*sponsor提出テキスト 装飾*/
em {
  font-weight: bold;
}
@media screen and (max-width: $viewport - 1) {
  @import "sp";
}
@media screen and (min-width: $viewport) {
  @import "pc";
}
