/* top PC */
.btnArea,
.program {
  max-width: $pcMinWidth;
}
.program {
  &-voting {
    padding-bottom: 60px;
    .program_title {
      margin-top: 60px;
    }
  }
  max-width: $pcMinWidth;
}

.schedule {
  border-top: 1px solid #eee;
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 60px auto 0;
  &-thin {
    max-width: 980px;
  }
}
.schedule_content {
  display: flex;
  // align-items: center;
  border-bottom: 1px solid #eee;
  &.is_disabled {
    display: none;
  }
}
.schedule_time {
  width: 24%;
  font-weight: bold;
  line-height: 39px;
  font-size: 24px;
  letter-spacing: 0.1em;
  padding: 18px 0 0 0;
  text-align: center;
  & + .schedule_events {
    border-left: 1px solid #eee;
  }
}
.schedule_events {
  width: 100%;
}
.schedule_event {
  width: 100%;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  cursor: pointer;
  margin-top: -1px;
  background-color: #fff;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &-allArea {
    height: 100%;
    font-weight: bold;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    padding: 0 30px;
    cursor: default;
    display: flex;
    align-items: center;
    &:hover {
      background: none;
    }
  }
  &-move {
    cursor: move;
  }
  &.is_disabled {
    display: none;
  }
}
.schedule_num {
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: 0.1em;
  color: #000000;
  width: 5.4%;
  background-color: #f1f1f1;
  align-items: center;
  display: flex;
}
.schedule_room {
  font-weight: bold;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 27px 30px;
  width: auto;
  border-right: 1px solid #eee;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.schedule_detail {
  width: 55%;
  text-align: left;
  padding: 20px 10px 20px 20px;
  &-sort {
    width: 80%;
    position: relative;
    &:before {
      cursor: move;
      content: '';
      display: block;
      width: 6px;
      border: 2px dotted #ccc;
      position: absolute;
      top: 20px;
      left: 20px;
      bottom: 20px;
    }
    &:after {
      cursor: move;
      content: '';
      display: block;
      width: 14px;
      position: absolute;
      top: 20px;
      left: 16px;
      bottom: 20px;
    }
  }
}
.schedule_speakers {
  width: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.schedule_speaker {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}
.schedule_speaker_icon {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
  background-size: cover;
  border-radius: 20px;
  float: left;
}
.schedule_speaker_name {
  margin-left: 50px;
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.schedule_speaker_name_not_icon {
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.schedule_speaker_id {
  margin-left: 50px;
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.1em;
  > a {
    color: #00a4de;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
  }
  > a > img {
    width: 16px;
    height: 16px;
    margin-top: 0.24em;
    margin-right: 4px;
  }
}
.schedule_speaker_id_not_icon {
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.1em;
  > a {
    color: #00a4de;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
  }
  > a > img {
    width: 16px;
    height: 16px;
    margin-top: 0.24em;
    margin-right: 4px;
  }
}
.schedule_title {
  font-weight: bold;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.schedule_function {
  display: flex;
  margin-top: 10px;
}
.schedule_function_item {
  img {
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
  }
}
.schedule_icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  &-yt {
    height: 30px;
  }
  &-gs {
    height: 30px;
    margin-left: 20px;
  }
}
.schedule_fav {
  position: relative;
  align-items: center;
  display: flex;
}
.schedule_fav_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  &:checked + .schedule_fav_icon {
    background-image: url('~assets/img/common/icon-star.svg');
  }
}
.schedule_fav_icon {
  background-image: url('~assets/img/common/icon-star-blank.svg');
  display: block;
  width: 60px;
  height: 60px;
  margin-left: 0;
  background-size: 30px 30px;
  background-position: center;
  cursor: pointer;
}
.schedule_division {
  display: inline-block;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #999999;
  margin-right: 20px;
}
.schedule_tags {
  display: inline;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.schedule_tag {
  display: inline;
  color: rgba(0, 0, 0, 0.5);
  > span {
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.05em;
    // color: #00A4DE;
    font-weight: normal;
  }
  &.is_current {
    > span {
      color: #eba80a;
    }
  }
  + .schedule_tag {
    &:before {
      content: ' | ';
    }
  }
}
.main_item {
  display: inline-block;
  > a {
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 16px;
    margin: 0 45px;
    display: inline-block;
    position: relative;
    &:hover {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -7px;
      }
    }
  }
}
