/* sponsorship SP */
.sponsorship {
  margin-top: 30px;
}
.inquiry {
  margin-top: 30px;
}
.sponsorship {
  padding: 30px 20px;
}
.sponsorship_title {
  font-size: 6.5vw;
  line-height: 1.5;
}
.sponsorship_text {
  font-size: 5vw;
  line-height: 1.5;
  margin-top: 5px;
}
.sponsorship_btnArea {
  margin-top: 20px;
  display: block;
}
.sponsorship_btn {
  width: 100%;
  margin: 15px auto 0;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.sponsorship_note {
  margin-top: 20px;
  text-align: left;
}
.recruit_recruit {
  margin-top: 20px;
  display: block;
  li {
    width: 100%;
    margin-bottom: 20px;
  }
}
.recruit_recruit_title {
  padding: 0 20px;
  margin-top: 10px;
}