/* footer SP */
.footerlogo {
  display: none;
}
.footerNav_list {
  margin-top: 30px;
}
.footerNav_title {
  margin-bottom: 10px;
  font-size: 16px;
}
.footer_inner {
  padding: 0 20px 0;
}
.copyright {
  margin-top: 10px;
}

.pullrequestBtn {
  display: inline-block;
  position: static;
  margin-top: 40px;
  margin-left: 18px;
}
