/* staff */

.staff {
  max-width: $pcMinWidth;
  width: 100%;
  margin: 0 auto;
}
.staff_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 34px 0 70px;
}
.staff_item {
  width: 240px;
  text-align: center;
  padding: 46px 20px 0;
  margin-bottom: 0;
}
.staff_img {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 60px;
  box-shadow:0px 0px 1px 1px rgba(0,0,0,0.1) inset;
  margin: 0 auto 17px;
}
.staff_ruby {
font-weight: bold;
font-size: 14px;
color: #999;
}
.staff_name {
font-weight: bold;
line-height: 29px;
font-size: 18px;
letter-spacing: 0.1em;
color: #000000;
margin-bottom: 8px;
}
.staff_sns {
  margin-bottom: 11px;
}
.staff_sns_item {
  display: inline-block;
  & + .staff_sns_item {
    margin-left: 5px;
  }
}
.staff_profile {
line-height: 20px;
font-size: 12px;
text-align: center;
color: #000000;
}
@media screen and (max-width: $viewport - 1) {
  @import "sp";
}
@media screen and (min-width: $viewport) {
  @import "pc";
}